/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Colors used
Text Color (Dark Gray): #2b2b2b;
Primary Color (Light Red): #f23a46
Secondary Color (Light Green): #62cc77
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(236, 233, 233, 0.959);
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(10, 10, 10);
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

span {
  color: rgb(250, 59, 59);
}

a {
  color: rgb(250, 59, 59);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: rgb(252, 248, 248);
}

a:active {
  /* Selected link */
  color: rgb(250, 59, 59);
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: rgb(250, 59, 59);
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.9s opacity;
  -o-transition: 0.9s opacity;
  transition: 0.9s opacity;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: rgb(250, 59, 59);
  color: white;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.9s opacity;
  -o-transition: 0.9s opacity;
  transition: 0.9s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: undefined;
  color: undefined;
}

.nav-container {
  width: 100%;
  background-color: #212329;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr auto 1fr;
  grid-template-columns: 0.2fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

.logo {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  width: 10em;
  height: 7em;
  border-radius: 50%;
}

.nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto);
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
  width: 60%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav-links {
  color: rgba(236, 233, 233, 0.959);
  text-decoration: none;
  font-size:x-large;
}

.nav-links:hover {
  color: #F9423D;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-links--active {
  -webkit-text-decoration: underline 4px #f9433dcc;
          text-decoration: underline 4px #f9433dcc;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(236, 233, 233, 0.959);
}

@media screen and (max-width: 768px) {
  .nav-container {
    position: relative;
  }

  .nav-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    background: #F9423D;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 120px;
    right: -100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .logo {
    margin-left: 10px;
  }

  .nav-menu.active {
    background: #212329;
    right: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #F9423D;
    color: rgba(236, 233, 233, 0.959);
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  #mobile-menu {
    position: absolute;
    top: 30%;
    right: 10%;
    -webkit-transform: translate(5%, 20%);
        -ms-transform: translate(5%, 20%);
            transform: translate(5%, 20%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor:pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  padding: 10px;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  padding: 100px;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.github,
.twitter,
.linkedin {
  padding: .5em;
  height: 4em;
}

.github:hover {
  background: rgb(250, 59, 59);
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.twitter:hover {
  background: rgb(250, 59, 59);
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.linkedin:hover {
  background: rgb(250, 59, 59);
  border-radius: 50%;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

h1.work-page {
  text-align: center;
  font-size: 3em;
  margin: .5em auto;
}

/*start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */

.grid {
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
  -ms-grid-columns: auto 10px auto;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: 0 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__item {
  background-color: lightgray;
  width: 30em;
  height: 20em;
  min-height: auto;
  margin: 0;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

}

.project-img-wrapper {
  text-align: center;
  margin-top: -10px;
}

.project-img-wrapper-chat-app {
  height: 55%;
  text-align: center;
}

.project-img {
  width: 60%;
  height: 60%;
}

.project-img-2 {
  width: 50%;
  height: 50%;
}

.project-img-3 {
  width: 40%;
  height: 40%;
}

.project-img-chat-app {
  height: 90%;
  width: 40%;
}

.project-title {
  margin: 0;
  margin-top: -.5em;
  text-align: center;
  font-weight: bold;
}

.project-text {
  margin-top: -.1em;
  
}

.project-link-wrapper {
  text-align: center;
  margin-top: 1.4em;
}

.project-link-wrapper-2 {
  text-align: center;
  margin-top: -1em;
}

.project-link-wrapper-3 {
  text-align: center;
  margin-top: -.8em;
}


.project-link {
  padding: .5em;
  margin: 0 .5em;
  background: rgb(10, 10, 10);
  color: rgba(236, 233, 233, 0.959);
  text-decoration: none;
  border-radius: 1em;
  font-weight: bold;
}

.project-link:hover {
  background: rgba(236, 233, 233, 0.959);
  color: rgb(250, 59, 59);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.illustration {
  text-align: center;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {

  -webkit-animation-duration: 34s;

          animation-duration: 34s;
  -webkit-animation-name: cloud-move-reverse;
          animation-name: cloud-move-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.about {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-me {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 5%;
  width: 50%;
}

.skills {
  font-size: 64px;
}

.experience-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.experience-list {
  list-style: square;
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.para-text {
  color: black;
  font-size: 18px;
}

#contact-form {
  margin: 10px auto;
  padding: 10px 10px;
  background: lightgray;
}

.contact-wrapper {
  position: relative;
  min-height: 100vh;
  padding: 0 100px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-wrapper .content {
  max-width: 800px;
  text-align: center;
}

.contact-wrapper .content h2 
{
  font-size: 36px;
  font-weight: 500;
}

.content h2
{
  margin-top: -5%;
  padding: 0;
}

.contact-wrapper .content p
{
  font-weight: 300;
}

.contact-info-wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.contact-info-wrapper .contact-info
{
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info-wrapper .contact-info .contact-info-box
{
  position: relative;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-info-wrapper .contact-info .contact-info-box .contact-icon
{
  min-width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}

.contact-info-wrapper .contact-info .contact-info-box .contact-text
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
}

.contact-info-wrapper .contact-info .contact-info-box .contact-text h3
{
  font-weight: 800;
  color: rgb(250, 59, 59);
}

.contact-form
{
  width: 40%;
  padding: 40px;
}

.contact-form h2
{
  font-size: 30px;
  font-weight: 600;
}

.contact-form .input-box
{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span
{
  color: rgb(250, 59, 59);
  font-size: 12px;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contact-form .input-box input:valid ~ span
{
  color: rgb(250, 59, 59);
  font-size: 12px;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contact-form .input-box textarea:focus ~ span
{
  color: rgb(250, 59, 59);
  font-size: 12px;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contact-form .input-box textarea:valid ~ span
{
  color: rgb(250, 59, 59);
  font-size: 12px;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100px;
  background: rgb(10, 10, 10);
  color: rgba(236, 233, 233, 0.959);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 15%;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: rgba(236, 233, 233, 0.959);
  color: rgb(250, 59, 59);
}

#status {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: #212329;
  color: rgba(236, 233, 233, 0.959);
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

#status.error {
  background-color: #F9423D;
  color: #212329;
  -webkit-animation: status 4s ease forwards;
          animation: status 4s ease forwards;
}

@-webkit-keyframes status {
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes status {
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 991px)
{
  .contact-wrapper
  {
    padding: 50px;
  }
  .contact-info-wrapper
  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-wrapper .contact-info
  {
    margin-bottom: 40px;
  }
  .contact-info-wrapper .contact-info,
  .contact-form
  {
    width: 100%;
  }
}